footer {
    font-style: italic;
}

h1, h2 {
    font-family: sans-serif;
}

li {
    display: flex;
    align-items: center;
    line-height: 2rem;
    cursor: pointer;
}

li span {
    flex: 1;
}

li a {
    padding: 0.25rem;
    color: white;
    background-color: blue;
    height: 1rem;
    line-height: 1rem;
}

li:nth-child(even) {
    background-color: lightgray;
}

ul {
    padding: 0;
    list-style: none;
}

.filesize {
    color: gray;
    font-style: italic;
}

.invisible {
    display: none;
}

#viewer {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

#viewerContents {
    flex: 1;
    padding: 1rem;
    color: black;
    background-color: white;
    overflow: scroll;
}

#viewerContents img {
    width: 100%;
}

#viewerClose {
    font-style: italic;
}
